*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 22px;
    background-color: #f1ece0;
}

a {
    text-decoration: none;
    display: inline-block;
}

.header {
    max-height: 181px;
}

.header__wrapper {
    max-width: 1352px;
    margin: 0 auto;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #AEA4A2;
    padding: 16px 0px;
    border-bottom: 1px solid #E0DAD4;
}

.header__top-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.header__top-about-link,
.header__top-menu-link,
.header__top-personal-link {
    color: #AEA4A2;
}

.header__top-about-link:hover,
.header__top-menu-link:hover,
.header__top-personal-link:hover {
    color: #5C4A4D;
    transition: all .5s;
}

.header__top-menu-item {
    margin-left: 24px;
}

.header__bottom-menu {
    list-style: none;
}

.header__bottom-menu-link {
    color: #5C4A4D;
}

.header__bottom-menu-link:hover {
    color: #EA854F;
    transition: all .5s;
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0;
}

.header__bottom-menu {
    padding-left: 0;
    margin: 0;
    display: flex;
}

.header__bottom-menu-item {
    padding-left: 32px;
}

.header__bottom-search,
.header__bottom-like,
.header__bottom-basket {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-position: center;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    padding: 0;
}

.header__bottom-search {
    background-image: url(../images/search-icon.png);
}

.header__bottom-like {
    background-image: url(../images/like-icon.png);
}

.header__bottom-basket {
    background-image: url(../images/basket-icon.png);
}

.header__bottom-basket-block {
    display: flex;
    justify-content: space-between;
}

.header__bottom-basket-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__bottom-basket-price {
    font-size: 19px;
    line-height: 24px;
    color: #5C4A4D;
}

.header__bottom-search {
    margin-right: 37px;
}

.header__bottom-like {
    margin-right: 37px;
}

.header__bottom-basket {
    margin-right: 8px;
}

.banner {
    max-width: 1352px;
    margin: 0 auto;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 440px;
    max-height: 440px;
    width: 100%;
    margin-bottom: 40px;
}

.catalog {
    max-width: 1352px;
    margin: 0 auto;
}

.catalog__inner {
    padding-bottom: 410px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    margin: 0 -20px;
}

.catalog__item {
    background-color: #fff;
    border-radius: 20px;
    max-width: 308px;
    width: 100%;
    margin: 0 20px 40px 20px;
    flex-basis: 308px;
}

.catalog__item-link {
    width: 100%;
}

.catalog__item-img-block {
    background-position: center;
    background-repeat: no-repeat;
    max-height: 220px;
    height: 220px;
    border-radius: 20px 20px 0 0;
}

.catalog__item-information {
    padding: 20px 24px 24px 24px;
}

.catalog__item-information-price {
    font-size: 23px;
    line-height: 28px;
    color: #5C4A4D;
    margin-right: 8px;
}

.catalog__item-information-weight {
    color: #AEA4A2;
    border-left: 1px solid #E0DAD4;
    padding-left: 8px;
}

.catalog__item-information-name {
    color: #716063;
    height: 50px;
}

.catalog-information {
    display: flex;
    margin-bottom: 6px;
}

.catalog-button {
    color: #92525D;
    background-color: transparent;
    outline: none;
    border: 1px solid #F0E7E7;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Nunito';
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 8px;
    height: 40px;
}

.button-not-aviable {
    display: none;
    visibility: hidden;
    color: #AEA4A2;
    background-color: transparent;
    outline: none;
    border: 1px solid #E0DAD4;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Nunito';
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 8px;
    height: 40px;
}

.product-not-aviable {
    display: none;
    visibility: hidden;
    background-color: #AEA4A2;
    color: rgba(252, 251, 249, 0.64);
    max-height: 56px;
    height: 56px;
    /* display: flex;
    justify-content: space-between; */
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 19px;
    line-height: 24px;
}

.product__sum-not-aviable {
    color: rgba(252, 251, 249, 0.64);
    padding-right: 29px;
    position: relative;
}

.product__sum-not-aviable:after {
    content: '';
    width: 5px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.64);
    position: absolute;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
}

.catalog-button:hover,
.like:hover {
    background-color: #F9F6F0;
    transition: all .5s;
}

.like {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    /* background-image: url(../images/like.svg);
    background-position: center; */
    background-color: transparent;
    outline: none;
    border: 1px solid #F0E7E7;
    cursor: pointer;
    /* background-repeat: no-repeat; */
    padding: 12px;
    border-radius: 12px;
}

.catalog__buttons {
    padding-bottom: 24px;
    display: flex;
    align-items: center;
}

.like-active path {
    fill: #92525D;
}

.production {
    max-width: 1352px;
    margin: 0 auto;
    padding: 48px 0;
    text-align: center;
}

.production__title {
    font-family: 'Neucha', cursive;
    font-size: 65px;
    line-height: 68px;
    color: #5C4A4D;
    margin-bottom: 16px;
}


/* .production__sort,
.production__sort-list {
    color: #716063;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.production__sort-list {
    color: #716063;
    font-size: 16px;
    line-height: 20px;
}


/* .production__sort-list {
    list-style: none;
    display: block;
} */

.sort-link {
    color: #716063;
}

.sort-link:hover {
    color: #EA854F;
    transition: all .5s;
}

.production__sort-list-item-link {
    color: #716063;
    font-size: 16px;
    line-height: 20px;
}

.production__sort-menu {
    padding: 20px;
}

.production__sort-list-item-link:hover {
    color: #EA854F;
    transition: all .5s;
}


/* .sort-button {
    background-image: url(../images/sort-icon.svg);
    width: 23px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
} */

.product__item,
.footer {
    max-width: 1272px;
    margin: 0 auto;
}

.product__item-nav {
    margin-bottom: 28px;
}

.product__item-nav-link {
    color: #AEA4A2;
    margin-right: 29px;
    position: relative;
}


/* .product__item-nav-link::before {
    content: '';
    background-image: url(../images/nav-arr.svg);
    background-repeat: no-repeat;
    width: 10px;
    height: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -27px;
} */


/* .product__item-nav-link::after {
    content: '';
    background-image: url(../images/nav-arr.svg);
    background-repeat: no-repeat;
    width: 10px;
    height: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -27px;
} */


/* .product__item-nav-link:last-child:after {
    display: none;
} */

.product__item-nav-link+.product__item-nav-link::before {
    float: none;
    padding-right: 0px;
    position: absolute;
    content: '';
    background-image: url(../images/nav-arr.svg) !important;
    background-repeat: no-repeat;
    width: 10px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    left: -17px;
}

.product__item-nav-link+.product__item-nav-link::before {
    padding-left: 0;
}

.product__item-nav-link:hover,
.product__item-nav-link-active:hover {
    color: #5C4A4D;
    transition: all .5s;
}

.product__item-nav-link-active {
    color: #AEA4A2 !important;
}

.product__item {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 122px;
}

.product__item-img {
    background-image: url(../images/product-item-1.png);
    height: 540px;
    width: 100%;
    max-width: 792px;
    background-repeat: no-repeat;
    background-position: center;
}

.product__item-parameters {
    display: flex;
    justify-content: space-between;
}

.product-weight,
.product-base {
    background-color: #fff;
    border-radius: 16px;
    padding: 12px 20px;
}

.product-weight {
    max-width: 132px;
    width: 100%;
}

.product-base {
    max-width: 252px;
    width: 100%;
}

.product-weight-title {
    color: #AEA4A2;
}

.product-weight-list {
    list-style: none;
    padding: 0;
}

.product__item-information {
    max-width: 400px;
    width: 100%;
}

.product__item-parameters {
    margin-top: 32px;
    margin-bottom: 24px;
}

.product__item-name {
    font-family: 'Neucha', cursive;
    color: #5C4A4D;
    font-size: 33px;
    line-height: 48px;
    margin-bottom: 20px;
}

.product__item-description {
    font-size: 19px;
    line-height: 24px;
    color: #716063;
}

.product__buttons {
    display: flex;
    align-items: center;
    padding-bottom: 48px;
    border-bottom: 1px solid #E0DAD4;
}

.product__button-basket {
    color: rgba(255, 255, 255, 0.64);
    background-color: #92525D;
    outline: none;
    border: none;
    max-height: 56px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 19px;
    line-height: 24px;
}

.product__button-basket:hover {
    color: #FCFBF9;
    background-color: #7D4550;
    transition: all .5s;
}

.product-weight-link,
.product-base-link {
    color: #5C4A4D;
    padding-right: 43px;
}

.product-weight-link:hover,
.product-base-link:hover {
    color: #EA854F;
    transition: all .5s;
}


/* .product-weight .dropdown-toggle::after,
.product-base .dropdown-toggle::after {} */

.product__sum {
    color: #FCFBF9;
    padding-right: 29px;
    position: relative;
}

.product-dropdown-link {
    color: #5C4A4D;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
}

.product-dropdown-link:hover {
    color: #EA854F;
    transition: all .5s;
}

.product-weight-menu {
    padding: 20px;
    transform: translate(-21px, 44px) !important;
    border-radius: 16px;
    border: none;
    min-width: 1px;
}

.product-base-menu {
    padding: 20px;
    transform: translate(-21px, 44px) !important;
    border-radius: 16px;
    border: none;
    min-width: 1px;
}

.product-weight-item {
    padding: 0px 10px;
}

.product-weight-link:after,
.product-base-link:after,
.sort-link:after {
    content: none;
}


/* .product-weight-link:after,
.product-base-link:after {
    display: inline-block;
    margin-left: 16px;
    vertical-align: .255em;
    content: "";
    height: 8px;
    width: 12px;
    position: absolute;
    border: none;
    background-image: url(../images/dropdown-icon.svg);
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
} */

.my-dropdown-arr {
    display: inline-block;
    margin-left: 16px;
    vertical-align: .255em;
    content: "";
    height: 8px;
    width: 12px;
    position: absolute;
    border: none;
    background-image: url(../images/dropdown-icon.svg);
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
}

.sort-dropdown-arr {
    display: inline-block;
    margin-left: 10px;
    vertical-align: .255em;
    content: "";
    height: 8px;
    width: 12px;
    position: absolute;
    border: none;
    background-image: url(../images/sort-arrow.svg);
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
}

.caretup {
    transform: rotate(180deg) translateY(50%);
    top: 50%;
}


/* .product-weight .dropdown .dropdown-menu {
    transform: translate(-21px, 44px);
    
} */

.product__sum:after {
    content: '';
    width: 5px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.64);
    position: absolute;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
}

.product-like {
    width: 56px;
    height: 56px;
    background-color: #FCFBF9;
    margin-left: 16px;
}

.like-icon {
    width: 20px;
    height: 20px;
}

.product-like .like-icon path {
    stroke: #92525D;
}

.product__item-information-details {
    padding-top: 48px;
}

.product__item-information-details {
    color: #AEA4A2;
}

.product-information-inner {
    margin-bottom: 24px;
}

.footer {
    text-align: center;
    color: #AEA4A2;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
}